/*CAROUSEL*/
/*Boutons*/
#suivant,
#precedent {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: solid 3px #1a8a7e;
  border-radius: 50%;
}

#suivant {
  left: -30px;
}

#suivant:before,
#suivant:after,
#precedent:before,
#precedent:after {
  position: absolute;
  width: 20px;
  height: 4px;
  content: '';
  border-radius: 2px;
  background-color: #1a8a7e;
}

#suivant:before,
#suivant:after {
  right: 12px;
}

#suivant:before {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#suivant:after {
  top: 24px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#precedent {
  right: -30px;
}

#precedent:before,
#precedent:after {
  left: 12px;
}

#precedent:before {
  top: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#precedent:after {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*Carousel*/
#carousel {
  position: relative;
  overflow: hidden;
  height: 280px;
}

.slide {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

#slide-un,
#slide-deux {
  padding: 0 70px;
}

#btn-video {
  width: 50%;
}

#btn-video img {
  z-index: 1;
  width: 100%;
  cursor: pointer;
}

#btn-video img:hover {
  cursor: pointer;
}

/*Blocks Articles*/
.titre-carou {
  margin-bottom: 3%;
  border-bottom: solid 1px #706e6e;
}

.titre-carou p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1%;
}

#slide-deux .d-flex-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-un,
.article-deux {
  width: 45%;
}

/*Mise en forme textes articles*/
.nom-journal {
  font-size: .6em;
  font-weight: bold;
}

.titre-article {
  font-size: 1em;
  margin: 5px 0 10px 0;
}

.textes-article {
  font-size: .8em;
  font-style: italic;
}

.btn-article {
  font-size: .8em;
  font-weight: bold;
  line-height: 2em;
  display: block;
  width: 40%;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 1px #1a8a7e;
  border-radius: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-article:hover {
  color: white;
  background-color: #1a8a7e;
}


/*--------- MODAL VIDEO ---------*/

/* Modal (background) */
#modal {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(90, 100, 103, .7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Modal Content */
.modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

#modal.closed {
  display: none;
}

#modal.opened {
  display: true;
}

#modal iframe {
  width: 100%;
}


/*--------- TEXTES TRIANGLE ---------*/

/*Forme triangle CSS*/
#triangle {
  position: relative;
}

.base-triangle {
  width: 100%;
  height: 20px;
  background-color: #1a8a7e;
}

.triangle-fluid {
  overflow: hidden;
  background-color: #1a8a7e;
  background-size: cover;
}

.triangle-container {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
}

.triangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  background: none;
}

.triangle-left {
  left: 0;
  border-top-width: 400px;
 /* Change this value to vary the angle */
  border-left-width: 2000px;
 /* Change this value to vary the angle */
  border-left-color: #fff;
}

.triangle-right {
  right: 0;
  border-top-width: 400px;
  border-right-width: 2000px;
  border-right-color: #fff;
}

/*Textes triangle*/
.container-text-absolute {
  position: absolute;
  top: 0;
}

.text-triangle {
  font-size: 1em;
  width: 70%;
  margin: auto;
  text-align: center;
}


/*--------- MODAL FORMULAIRES ---------*/
/*Boutons submit*/
.btnSubmit {
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1em;
  background-color: #1A8A7E;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: #5aada4;
}

/*////////////////////////*/
/*bouton temporaire link*/
/*////////////////////////*/
a.btnSubmit {
  width: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  vertical-align: center;
}
/*////////////////////////*/

/*Connexion espace entreprise/inscription //////////////////////////////*/
.connect {
  width: 60%;
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.connect p {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 10px;
}
.filet {
  border-top: solid 2px #1A8A7E;
  width: 100%;
  position: relative;
  z-index: 0;
  margin: 30px 0;
}

.filet p {
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  text-transform: uppercase;
  color: #1A8A7E;
  background-color: #DCE3D7;
  font-weight: bold;
  line-height: 2em;
  left: 40%;
  top: -1.7em;
  width: 20%;
}

/*Inscription html 1-5 //////////////////////////////*/
/*Code postal + Tel*/
.small.left {
  width: 35%;
}

/*Ville + Mail*/
.small.right{
  width: 60%;
}

/*Inscription html 2-5 //////////////////////////////*/
/*Bouton Switch ______________________*/
.formElement.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
 margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #5aada4;
}

input:focus + .slider {
 box-shadow: 0 0 1px #5aada4;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
